
@{
    ViewBag.Title = "Loggdin";
}
    <p>

        @Html.ActionLink("Reset your Password", "RestPassword") |
        @Html.ActionLink(" your Details", "Details")
    </p>
<h2 class="text-success">you are Loggdin</h2>
<h5>@ViewBag.Message</h5>

